NODE_ENV=development
PORT=3008
MONGO_URI=mongodb://localhost:27017/platoo_orders
MENU_SERVICE_URL=http://localhost:3001
PAYMENT_SERVICE_URL=http://localhost:8081
EMAIL_SERVICE=Gmail
EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_PASS=
APP_NAME=platoo